/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html, button, input, select, textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, img, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font: 16px/24px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

.main {
  padding: 30px 0; }

.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  height: 100%;
  width: 100%; }

body {
  overflow: hidden;
  position: relative; }

#background {
  background-image: url("../img/bokeh-2.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: middle;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  -o-filter: blur(6px);
  position: absolute;
  z-index: -1;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px; }

.main-container {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none; }

#audio-wrapper {
  width: 50%;
  margin: auto;
  padding: 5% 5% 4% 5%;
  background: white;
  opacity: 0.8; }

#audio-controls {
  width: 40%;
  margin: 5% auto 7% auto; }
  #audio-controls div {
    height: 40px;
    width: 40px;
    font-size: 250%;
    text-align: center;
    cursor: pointer; }
  #audio-controls .prev-track-btn {
    float: left; }
  #audio-controls #play-pause {
    margin: auto; }
  #audio-controls .play-btn {
    font-size: 350%; }
  #audio-controls .pause-btn {
    font-weight: 700;
    font-size: 450%;
    padding-left: 5px; }
  #audio-controls .next-track-btn {
    float: right; }

#audio-info {
  width: 100%;
  clear: both; }
  #audio-info .track-artist {
    float: left;
    margin-bottom: 2%;
    font-size: 80%;
    color: #666;
    line-height: 1.2; }
  #audio-info .track-time {
    float: right;
    font-size: 80%;
    color: #666;
    line-height: 1.2; }
  #audio-info .track-progress-container {
    clear: both;
    height: 10px;
    width: 100%;
    background: #DDD; }
    #audio-info .track-progress-container .track-progress {
      height: 10px;
      width: 0;
      background: #777; }

#playlists-wrapper {
  width: 60%;
  margin: auto;
  background: #DDD;
  opacity: 0.9; }
  #playlists-wrapper .playlist-list {
    float: left;
    padding: 0 0 4% 5%;
    width: 25%;
    height: 100%;
    background: #AAA; }
    #playlists-wrapper .playlist-list .playlist {
      font-size: 90%;
      color: #666;
      cursor: pointer; }
  #playlists-wrapper .current-playlist {
    float: left;
    padding: 0 0 0 5%; }
    #playlists-wrapper .current-playlist .track {
      cursor: pointer; }

.clear {
  clear: both;
  height: 0; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
